font-face('Farnham_Medium', '../../static/fonts/Farnham-Medium/Farnham-Medium', 'normal', 'normal')
font-face('Farnham_Regular', '../../static/fonts/Farnham-Regular/Farnham-Regular', 'normal', 'normal')
