@font-face {
    font-family: 'san_francisco_displayblack';
    src: url('../assets/fonts/sanfranciscodisplay/sanfranciscodisplay-black-webfont.woff2') format('woff2'),
         url('../assets/fonts/sanfranciscodisplay/sanfranciscodisplay-black-webfont.woff') format('woff'),
         url('../assets/fonts/sanfranciscodisplay/sanfranciscodisplay-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'san_francisco_displaybold';
    src: url('../assets/fonts/sanfranciscodisplay/sanfranciscodisplay-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/sanfranciscodisplay/sanfranciscodisplay-bold-webfont.woff') format('woff'),
         url('../assets/fonts/sanfranciscodisplay/sanfranciscodisplay-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'san_francisco_displayheavy';
    src: url('../assets/fonts/sanfranciscodisplay/sanfranciscodisplay-heavy-webfont.woff2') format('woff2'),
         url('../assets/fonts/sanfranciscodisplay/sanfranciscodisplay-heavy-webfont.woff') format('woff'),
         url('../assets/fonts/sanfranciscodisplay/sanfranciscodisplay-heavy-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'san_francisco_displaylight';
    src: url('../assets/fonts/sanfranciscodisplay/sanfranciscodisplay-light-webfont.woff2') format('woff2'),
         url('../assets/fonts/sanfranciscodisplay/sanfranciscodisplay-light-webfont.woff') format('woff'),
         url('../assets/fonts/sanfranciscodisplay/sanfranciscodisplay-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'san_francisco_displaymedium';
    src: url('../assets/fonts/sanfranciscodisplay/sanfranciscodisplay-medium-webfont.woff2') format('woff2'),
         url('../assets/fonts/sanfranciscodisplay/sanfranciscodisplay-medium-webfont.woff') format('woff'),
         url('../assets/fonts/sanfranciscodisplay/sanfranciscodisplay-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'san_francisco_displayregular';
    src: url('../assets/fonts/sanfranciscodisplay/sanfranciscodisplay-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/sanfranciscodisplay/sanfranciscodisplay-regular-webfont.woff') format('woff'),
         url('../assets/fonts/sanfranciscodisplay/sanfranciscodisplay-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'san_francisco_displaysemibold';
    src: url('../assets/fonts/sanfranciscodisplay/sanfranciscodisplay-semibold-webfont.woff2') format('woff2'),
         url('../assets/fonts/sanfranciscodisplay/sanfranciscodisplay-semibold-webfont.woff') format('woff'),
         url('../assets/fonts/sanfranciscodisplay/sanfranciscodisplay-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'san_francisco_displaythin';
    src: url('../assets/fonts/sanfranciscodisplay/sanfranciscodisplay-thin-webfont.woff2') format('woff2'),
         url('../assets/fonts/sanfranciscodisplay/sanfranciscodisplay-thin-webfont.woff') format('woff'),
         url('../assets/fonts/sanfranciscodisplay/sanfranciscodisplay-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'san_francisco_displayultraLt';
    src: url('../assets/fonts/sanfranciscodisplay/sanfranciscodisplay-ultralight-webfont.woff2') format('woff2'),
         url('../assets/fonts/sanfranciscodisplay/sanfranciscodisplay-ultralight-webfont.woff') format('woff'),
         url('../assets/fonts/sanfranciscodisplay/sanfranciscodisplay-ultralight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'san_francisco_textbold';
    src: url('../assets/fonts/sanfranciscodisplay/sanfranciscotext-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/sanfranciscodisplay/sanfranciscotext-bold-webfont.woff') format('woff'),
         url('../assets/fonts/sanfranciscodisplay/sanfranciscotext-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'san_francisco_textbold_italic';
    src: url('../assets/fonts/sanfranciscodisplay/sanfranciscotext-bolditalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/sanfranciscodisplay/sanfranciscotext-bolditalic-webfont.woff') format('woff'),
         url('../assets/fonts/sanfranciscodisplay/sanfranciscotext-bolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'san_francisco_textheavy';
    src: url('../assets/fonts/sanfranciscodisplay/sanfranciscotext-heavy-webfont.woff2') format('woff2'),
         url('../assets/fonts/sanfranciscodisplay/sanfranciscotext-heavy-webfont.woff') format('woff'),
         url('../assets/fonts/sanfranciscodisplay/sanfranciscotext-heavy-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
